<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Not-found</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<center>
		<h2 th:text="'Keluarga dengan NKK ' + ${nomor} + ' tidak ditemukan'"></h2>
	</center>
</body>
</html>