<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lihat Data Penduduk</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
<script type="text/javascript" src="/js/datatables.min.js"></script>
<script>
	$(document).ready(function() {
		$('#view-data').DataTable();
	});
</script>
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<center>
		<div th:if="${flag_sukses} == true">
			<h2>Sukses !</h2>
			<h4 th:text="'Penduduk dengan NIK '+ ${nik} + ' sudah tidak aktif'"></h4>
			<br></br>
			<hr></hr>
		</div>
	</center>

	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 text-left">

				<center>
					<h3 th:text="'Lihat Data Penduduk - ' + ${penduduk.nik}">title</h3>
				</center>

				<br></br>
				<table id="view-data" cellspacing="0" width="100%">
					<tr>
						<td><strong>NIK</strong></td>
						<td th:text="${penduduk.nik}">NIK Penduduk</td>
					</tr>
					<tr>
						<td><strong>Nama</strong></td>
						<td th:text="${penduduk.nama}">Nama Penduduk</td>
					</tr>
					<tr>
						<td><strong>Jenis Kelamin</strong></td>
						<td
							th:text="${penduduk.jenis_kelamin == 1} ? 'Perempuan' : 'Laki-Laki'">Nama
							Penduduk</td>
					</tr>
					<tr>
						<td><strong>Tempat/Tanggal Lahir</strong></td>
						<td th:text="${penduduk.tempat_lahir} + ', ' + ${tanggal_lahir}">Tempat
							Lahir Penduduk</td>
					</tr>
					<tr>
						<td><strong>Alamat</strong></td>
						<td th:text="${keluarga.alamat}">Alamat Penduduk</td>
					</tr>
					<tr>
						<td><strong>RT/RW</strong></td>
						<td th:text="${keluarga.RT} + '/' + ${keluarga.RW}">RT/RW
							Penduduk</td>
					</tr>
					<tr>
						<td><strong>Kelurahan/Desa</strong></td>
						<td th:text="${kelurahan.nama_kelurahan}">Kelurahan Penduduk</td>
					</tr>
					<tr>
						<td><strong>Kecamatan</strong></td>
						<td th:text="${kecamatan.nama_kecamatan}">Kecamatan Penduduk</td>
					</tr>
					<tr>
						<td><strong>Kota</strong></td>
						<td th:text="${kota.nama_kota}">Kota Penduduk</td>
					</tr>
					<tr>
						<td><strong>Golongan Darah</strong></td>
						<td th:text="${penduduk.golongan_darah}">Golongan Darah
							Penduduk</td>
					</tr>
					<tr>
						<td><strong>Agama</strong></td>
						<td th:text="${penduduk.agama}">Agama Penduduk</td>
					</tr>
					<tr>
						<td><strong>Status Perkawinan</strong></td>
						<td th:text="${penduduk.status_perkawinan}">Status Perkawinan
							Penduduk</td>
					</tr>
					<tr>
						<td><strong>Pekerjaan</strong></td>
						<td th:text="${penduduk.pekerjaan}">Pekerjaan Penduduk</td>
					</tr>
					<tr>
						<td><strong>Kewarganegaraan</strong></td>
						<td th:text="${kewarganegaraan}">Kewarganegaraan Penduduk</td>
					</tr>
					<tr>
						<td><strong>Status Kematian</strong></td>
						<td th:text="${wafat}">Status Kematian Penduduk</td>
						<td th:if="${penduduk.is_wafat} == 0"><form
								th:action="'/penduduk/mati'" method="post">
								<input type="hidden" name="nik" th:value="${penduduk.nik}" />
								<button type="submit" class="btn btn-danger" name="action"
									value="submit">Nonaktifkan</button>
							</form></td>
					</tr>

				</table>

			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</body>
</html>